* {
    margin: 0;
    padding: 0;
    */ box-sizing: border-box;
}

body {
    background-color: rgb(233, 227, 227);
    /* font-family: 'poppons' sans-serif; */
}
.nav{
    font-size: 3em;
}

center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}
/* .................................. */

.heading {
    width: 100%;
    height: 14vh;
    margin-top: 3%;
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
}

.target {
    font-size: 9vh;
    width: 600px;
    background-color: rgb(255, 255, 255);
    margin-left: 75%;
    /* margin-bottom: 10%; */
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
}

.target:hover {
    background-color: rgb(250, 208, 153);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
}

.cetegories {
    width: 300px;
    margin: 20px auto;
    text-decoration: underline;
}
.cetegories:hover{
    /* background-color: #fff; */
}

.cetegories .falak {
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    background-color: white;
    font-size: 18px;
    font-weight: 300;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(7, 7, 7, 0.855) 0px 0px 5px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10%;
}
.falak {
    font-size: 35px;
}

.cetegories .falak:hover {
    background-color: rgb(235, 167, 80);
}

 .like {
    width: 200px;
    height: 40px;
    background-color: rgb(248, 245, 245);
    margin: 5vh auto; 
    color: black solid;
    cursor: pointer;
    padding: 40px;
    padding-top: 15px;
    text-align: center;
    /* margin-top: 0vh; */
 } 
.like:hover{
    background-color: rgb(83, 82, 82);
    color: rgb(10, 10, 10);
}
.bracelets{ 
    width: 100px;
    /* display: inline;
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* height: 85px; */
    /* margin-bottom: 20%;
    background-color: rgb(155, 9, 9); */
}
.bracelet{
    width: 100%;
    height: 70vh;
    background-color: rgb(250, 247, 247);
    /* margin-left: 2.5%;
    margin-right: 10%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
} 
.bracelet:hover{
     cursor: pointer; 
}

 .web{
    width: 23%;
     height: 65vh; 
     margin-top: 1%;
    background-color: aqua;
    border: 2px solid rgb(250, 249, 249);
    box-shadow: rgba(2, 2, 2, 0.855) 0px 0px 5px;
}
.baba{
    width: 100%;
    height: 10vh;
    background-color: #fcf8f8;
    color: rgb(8, 10, 12);
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    padding-bottom: 03%;

}
.mama{
    width: 20%;
    height: 10vh;
    background-color: rgb(233, 227, 227);
    border-radius: 14px;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}
.mama:hover{
    cursor: pointer;
    background-color: rgb(250, 208, 153);
    font-style: under;
}
.targets{
    font-size: 4em;
    width: 100%;
    height: 14vh;
    background-color: white;
    box-shadow:  0 0 5px rgba(7, 7, 7, 0.856);
    /* margin-left: 05%; */
    /* border: 2px black solid; */
}
 .brands{
    width: 70%;
    height: 69.5vh;
    background-color: rgb(233, 227, 227);
    margin-top: 1%;
    /* border: 1px black solid; */
   padding-left: 2%;
   font-style: normal;
    /* justify-content: center;
    align-items: center; */
}
.targets:hover{
    background-color: rgb(250, 208, 153);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
    cursor: pointer;
}
.brands:hover{
    background-color: rgb(235, 167, 80);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
    cursor: pointer;
}
/* 
......... */
.footer{
    background-color: rgb(206, 194, 194);
    width: 100%;
    height: 55vh;
     padding-top: 3%; 
     /* margin-top: 3%; */
    /* display: flex;
    justify-content: center; */
}
.content{
    display: flex;
    justify-content: center;
}
input{
    height: 30px;
}
button{
    height: 30px;
    background-color: black;
    color: white;
}
small{
    color:rgb(102, 93, 93);
    font-size: 90%;
}
.icons{
    background-color:rgb(206, 194, 194);
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.icon0{
    width: 20%;
    height: 56;
    margin-top: 09px;
}
.icon2{
    width: 20%;
    height:  56;
    margin-top: 09px;
}
.icon3{
    width: 20%;
    height:  56;
    margin-top: 09px;
}

.heading{
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.head
{ 
    width: 40%;
    height:  56;
}
.head2{
    width: 5%;
    height: 56;
}
.foot{
    background-color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content:center;
    gap: 5%;
    padding-top: 20px ;
    text-decoration: overline; 
}
a{
    text-decoration: none;
}
.us{
margin-top: 4%;
font-size: x-large;
text-decoration: overline;
}
.inputdet{
    display: flex;
    justify-content: center;
    gap: 5%;
}
textarea{
    margin-top: 5%;
}
.pp{
    margin-top: 6%;
    font-size: x-large;
    text-decoration:overline;
}
.rr{
    margin-bottom: 5%;
     margin-top: 4%;
    font-size: x-large;
    text-decoration: overline;
}
.bell{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10px;
    border-radius: 50%;
    margin-left: 3%;
}
.fix{
    padding: 10px;
    border-radius: 50%;
}
 
