* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-decoration: none;
    font-family: 'Edu NSW ACT Foundation', cursive;
}



center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}

.first{
    font-size: 2em;
    /* font-family: 'Edu NSW ACT Foundation', cursive; */
}
.heading{
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 45%;
    margin-right: 50%;
    animation-delay: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
    }
.second{
    display: grid;
    grid-template-columns: repeat(4,90px);
    gap: 100px;
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    animation-delay: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.type{
    margin-left: 370px;
    margin-bottom: 20px;
    width: 170px;
    height: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: chocolate;
}
.third{
    display: grid;
    grid-template-columns:repeat(4,auto);
    grid-gap:2cm;
    animation-delay: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.abayas{
    background-color: white;
    width: 35vh;
    height:50vh;
    border: 2px solid black;
    margin-left: 30px;
}
.forth{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.forth:hover{
    background-color: grey;
    cursor: pointer;
}
.fifth{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.fifth:hover{
    background-color: grey;
    cursor: pointer;
}
.sixth{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.sixth:hover{
    background-color: grey;
    cursor: pointer;
}