.{
    margin: 0%;
    padding: 0%;
} 
 body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}  
.parent{
  /* background-color: pink;  */
   width: 195vh;
    /* height: 10vh; */
   /* border: 2px solid rgba(red, green, blue, alpha); */ 
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* align-content: center; */
}
  
 .child{
    background-color: rgb(95, 92, 92);
    width: 100px;
    height: 50px;
    color: rgb(241, 233, 233);
    margin: 50px;
    border: 4px solid rgb(34, 33, 33);
    display: flex;
    flex-wrap: wrap; 
    align-content: center;
    justify-content: center;
    /* -ms-flex-item-align: center; */
    /* border-color: brown;  */
 }
 .target{
    font-content: center;
    font-size: 2em;
    order: 2px;
    flex-grow: 2;
 } 
 .young{
    width: 195vh;
    height: 100vh;
   /* background-color: red; */
   /* border-color: 2px blue solid; */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   border-radius: 100px; 
 }
 .old{
     background-color: rgb(12, 11, 11);  
    width: 600px;
    height: 600px;
    /* color: black; */
    margin: 20px;
    /* border-radius: 80px;  */
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 100px; 
 }
 img{
    width: 600px; 
    height: 100%;
 }
 .img-1{
    border-radius: 80px 100px 80px 100px;
 }

/* .bags{
    width: 10%;
    height: 20%;
    color: rgb(131, 47, 47)
     background-color: yellow; 
    border: 1px crimson;
    display: flex;
    flex-direction: column-reverse;
    margin: 50vh;  
}  */
/* .target{
    font-size: 1em;
    order: 2;
    flex-grow: 2;
}
.target{
    font-size: 1em;
    order: 2;
    flex-grow: 2;
} */
/* .{
    margin: 0%;
    padding: 0%;
}
.font{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.parent{ */
    /* width: 180%;
    height: 120%;
    color: pink;
    background-color: brown; */
    /* border: 50px solid cornflowerblue;
    display: flex; */

 /* .child{ */
    /* width: 10%; */
    /* height: 50%; */
    /* background-color: rgb(158, 48, 48);  */
/* } */ 