* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-decoration: none;
}
.jon{
    font-size: 2em;
}


center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}
.target{
font-size: 2em;
margin-right: 20%;
}
.parent {
    /* background-color: pink;  */
    width: 195vh;
     height: 15vh; 
     margin-bottom: 3%;
     margin-top: 1%;
     padding-bottom: 10%;
     /* border: 2px solid rgba(red, green, blue, alpha); */
     display: flex;
     justify-content: flex-start;
     justify-content: space-between;
     justify-content: space-around;
     /* justify-content: space-evenly; */
     /* flex-direction: column; */
     flex-wrap: wrap;
     /* align-items: center;
     align-self: center; */ 
}

.child {
    background-color: rgb(155, 152, 152);
    width: 30%;
    height: 50px;
    color: rgb(241, 233, 233);
    margin: 50px;
    border: 4px solid rgb(34, 33, 33);
    display: flex;
     flex-wrap: wrap; 
    flex-direction: column;
    align-content: center; 
     align-items: flex-start;  
     align-content: center;
     align-self: center;
     align-items: center; 
     justify-content: center;
     border-radius: 80px;
}

.target {
    font-size: 2em;
    order: 2px;
     flex-grow: 2px; 
    /* flex-wrap: wrap; */
}

.young {
    /* width: 100%;
    height: 100vh; */
    /* background-color: red; */
    /* border-color: 2px blue solid; */
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* border-radius: 80px; */
    /* /* flex-direction: column; */
    justify-content: flex-start;
    /* align-content: center;
    align-self: center;
    align-items: center; */ 
    /* border-radius: 100px; */
}

.old {
    /* background-color: aqua; */
    width: 600px;
    height: 600px;
    margin: 20px;   
    border-radius: 100%; 
    /* color: black; */
    /* margin: 15px; */
    /* border-radius: 80px;  */
     display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* flex-direction: column; */ 
    /* border-radius: 80px; */
}

/* .img {
    width: 600px;
    height: 100%;
    margin: 100px;
    flex-wrap: wrap;
} */

/* .img-1 {
    border-radius: 80px 100px 80px 100px;
 }  */
/* .target{
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
} */
.hey:hover{
    background-color:rgb(243, 180, 103);
    text-shadow: inset;
    cursor: pointer;
}
.child:hover{
    background-color:rgb(105, 84, 84);
    text-shadow:inset;
    cursor: pointer;
}
.old img:hover{
    color:grey;
}
.hey{
    margin-top:5%;
    margin-bottom:5.5%;
    margin-left: 20%;
    margin-right: 20%;
}
.footer{
    background-color: rgb(206, 194, 194);
    width: 100%;
     height: 60vh;
    padding-top: 5%;
    margin-top: 1%;
    /* display: flex;
    justify-content: center; */
}
.content{
    display: flex;
    justify-content: center;
}
input{
    height: 30px;
}
button{
    height: 30px;
    background-color: black;
    color: white;
}
small{
    color:rgb(102, 93, 93);
    font-size: 90%;
}
.icons{
    background-color:rgb(206, 194, 194);
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.icon0{
    width: 20%;
    height: 56;
    margin-top: 09px;
}
.icon2{
    width: 20%;
    height:  56;
    margin-top: 09px;
}
.icon3{
    width: 20%;
    height:  56;
    margin-top: 09px;
}

.heading{
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.head
{ 
    width: 40%;
    height:  56;
    margin-top: 5%;
    margin-bottom: 5%;
}
.head2{
    width: 5%;
    height: 56;
    margin-top: 5%; 
    padding-left: 7%;
    
    

}
.foot{
    background-color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content:center;
    gap: 5%;
    padding-top: 20px ;
    text-decoration: overline; 
}
a{
    text-decoration: none;
}
.us{
margin-top: 6%;
font-size: x-large;
text-decoration: overline;
}
.inputdet{
    display: flex;
    justify-content: center;
    gap: 5%;
}
textarea{
    margin-top: 5%;
}
.pp{
    margin-top: 6%;
    font-size: x-large;
    text-decoration:overline;
}
.rr{
    margin-top: 6%;
    font-size: x-large;
    text-decoration: overline;
}
.bell{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10px;
    border-radius: 50%;
    margin-left: 3%;
}
.fix{
    padding: 10px;
    border-radius: 50%;
}
/* ....................... */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-decoration: none;
}

center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}

form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}
.handbags{
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 45%;
    margin-right: 50%;
}
.bags{
    display: grid;
    /* gap: 5px; */
    grid-template-columns: repeat(4,auto);
    grid-gap: 1rem;
    
}
.items{
    background-color: aqua;
    width: 35vh;
    height:50vh;
    border: 2px solid black;
    margin-left: 9px;

}
.font{
  font-size: 3em;
  text-decoration: overline;

}
 .kind{
    display: grid;
    grid-template-columns: repeat(2,60px);
    gap: 300px;
    margin-top: 3%;
    margin-bottom: 1%;
    align-items: center;
    margin-left: 250px;
}
.hs{
    margin-left: 190px;
    margin-bottom: 20px;
    width: 170px;
    height: 30px;
}
a{
    text-decoration: none;
    color: black;
}
small{
    color: rgb(139, 125, 125);
}
.para{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.footer{
    background-color: rgb(206, 194, 194);
    width: 100%;
    height: 65vh;
    padding-top: 10%;
    margin-top: 10%;
    /* display: flex;
    justify-content: center; */
}
.content{
    display: flex;
    justify-content: center;
}
input{
    height: 30px;
}
button{
    height: 30px;
    background-color: black;
    color: white;
}
small{
    color:rgb(102, 93, 93);
    font-size: 90%;
}
.icons{
    background-color:rgb(206, 194, 194);
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.icon0{
    width: 20%;
    height: 56;
    margin-top: 09px;
}
.icon2{
    width: 20%;
    height:  56;
    margin-top: 09px;
}
.icon3{
    width: 20%;
    height:  56;
    margin-top: 09px;
}
.heading{
    width: 30%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.head
{ 
    width: 40%;
    height:56%;
}
.head2{
    width: 5%;
    height: 36;
  margin-bottom: 10%;
}
.foot{
    background-color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content:center;
    gap: 5%;
    padding-top: 20px ;
    text-decoration: overline; 
}
a{
    text-decoration: none;
}
.us{
margin-top: 6%;
font-size: x-large;
text-decoration: overline;
}
.inputdet{
    display: flex;
    justify-content: center;
    gap: 5%;
}
textarea{
    margin-top: 5%;
}
.pp{
    margin-top: 6%;
    font-size: x-large;
    text-decoration:overline;
}
.rr{
    margin-top: 6%;
    font-size: x-large;
    text-decoration: overline;
}
.bell{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10px;
    border-radius: 50%;
    margin-left: 3%;
}
.fix{
    padding: 10px;
    border-radius: 50%;
}
h3:hover{
    background-color: rgb(214, 201, 201);
    text-decoration:overline;
}
/* ..................... */
center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}

.first{
    font-size: 2em;
    /* font-family: 'Edu NSW ACT Foundation', cursive; */
}
.heading{
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 45%;
    margin-right: 50%;
    animation-delay: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
    }
.second{
    display: grid;
    grid-template-columns: repeat(4,90px);
    gap: 100px;
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    animation-delay: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.type{
    margin-left: 370px;
    margin-bottom: 20px;
    width: 170px;
    height: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: chocolate;
}
.third{
    display: grid;
    grid-template-columns:repeat(4,auto);
    grid-gap:2cm;
    animation-delay: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.abayas{
    background-color: white;
    width: 35vh;
    height:50vh;
    border: 2px solid black;
    margin-left: 30px;
}
.forth{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.forth:hover{
    background-color: grey;
    cursor: pointer;
}
.fifth{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.fifth:hover{
    background-color: grey;
    cursor: pointer;
}
.sixth{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.sixth:hover{
    background-color: grey;
    cursor: pointer;
}
.footer{
    background-color: rgb(206, 194, 194);
    width: 100%;
    height: 70vh;
    padding-top: 10%;
    margin-top: 10%;
    /* display: flex;
    justify-content: center; */
}
.content{
    display: flex;
    justify-content: center;
}
input{
    height: 30px;
}
button{
    height: 30px;
    background-color: black;
    color: white;
}
small{
    color:rgb(102, 93, 93);
    font-size: 90%;
}
.icons{
    background-color:rgb(206, 194, 194);
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.icon0{
    width: 20%;
    height: 56;
    margin-top: 09px;
}
.icon2{
    width: 20%;
    height:  56;
    margin-top: 09px;
}
.icon3{
    width: 20%;
    height:  56;
    margin-top: 09px;
}

/* .heading1{
    width: 30%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.head
{ 
    width: 40%;
    height:  56;
}
.head2{
    width: 5%;
    height: 56;
} */
.foot{
    background-color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content:center;
    gap: 5%;
    padding-top: 20px ;
    text-decoration: overline; 
}
a{
    text-decoration: none;
}
.us{
margin-top: 6%;
font-size: x-large;
text-decoration: overline;
}
.inputdet{
    display: flex;
    justify-content: center;
    gap: 5%;
}
textarea{
    margin-top: 5%;
}
.pp{
    margin-top: 6%;
    font-size: x-large;
    text-decoration:overline;
}
.rr{
    margin-top: 6%;
    font-size: x-large;
    text-decoration: overline;
}
.bell{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10px;
    border-radius: 50%;
    margin-left: 3%;
}
.fix{
    padding: 10px;
    border-radius: 50%;
}
/* ............ */
.nav{
    font-size: 3em;
}

center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}
/* .................................. */

.heading {
    width: 100%;
    height: 14vh;
    margin-top: 3%;
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
}

. {
    font-size: 9vh;
    width: 600px;
    background-color: rgb(255, 255, 255);
    margin-left: 75%;
    /* margin-bottom: 10%; */
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
}

.target:hover {
    background-color: rgb(250, 208, 153);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
}

.cetegories {
    width: 300px;
    margin: 20px auto;
    text-decoration: underline;
}
.cetegories:hover{
    /* background-color: #fff; */
}

.cetegories .falak {
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    background-color: white;
    font-size: 18px;
    font-weight: 300;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(7, 7, 7, 0.855) 0px 0px 5px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10%;
}
.falak {
    font-size: 35px;
}

.cetegories .falak:hover {
    background-color: rgb(235, 167, 80);
}

 .like {
    width: 200px;
    height: 40px;
    background-color: rgb(248, 245, 245);
    margin: 5vh auto; 
    color: black solid;
    cursor: pointer;
    padding: 40px;
    padding-top: 15px;
    text-align: center;
    /* margin-top: 0vh; */
 } 
.like:hover{
    background-color: rgb(83, 82, 82);
    color: rgb(10, 10, 10);
}
.bracelets{ 
    width: 100px;
    /* display: inline;
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* height: 85px; */
    /* margin-bottom: 20%;
    background-color: rgb(155, 9, 9); */
}
.bracelet{
    width: 100%;
    height: 70vh;
    background-color: rgb(250, 247, 247);
    /* margin-left: 2.5%;
    margin-right: 10%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
} 
.bracelet:hover{
     cursor: pointer; 
}

 .web{
    width: 23%;
     height: 65vh; 
     margin-top: 1%;
    background-color: aqua;
    border: 2px solid rgb(250, 249, 249);
    box-shadow: rgba(2, 2, 2, 0.855) 0px 0px 5px;
}
.baba{
    width: 100%;
    height: 10vh;
    background-color: #fcf8f8;
    color: rgb(8, 10, 12);
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    padding-bottom: 03%;

}
.mama{
    width: 20%;
    height: 10vh;
    background-color: rgb(233, 227, 227);
    border-radius: 14px;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}
.mama:hover{
    cursor: pointer;
    background-color: rgb(250, 208, 153);
    font-style: under;
}
.targets{
    font-size: 4em;
    width: 100%;
    height: 14vh;
    background-color: white;
    box-shadow:  0 0 5px rgba(7, 7, 7, 0.856);
    /* margin-left: 05%; */
    /* border: 2px black solid; */
}
 .brands{
    width: 70%;
    height: 69.5vh;
    background-color: rgb(233, 227, 227);
    margin-top: 1%;
    /* border: 1px black solid; */
   padding-left: 2%;
   font-style: normal;
    /* justify-content: center;
    align-items: center; */
}
.targets:hover{
    background-color: rgb(250, 208, 153);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
    cursor: pointer;
}
.brands:hover{
    background-color: rgb(235, 167, 80);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
    cursor: pointer;
}
/* 
......... */
.nav{
    font-size: 3em;
}

center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}
/* .................................. */

.nav{
    font-size: 3em;
}

center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}
/* .................................. */

* {
    margin: 0;
    padding: 0;
    */ box-sizing: border-box;
}

body {
    background-color: rgb(233, 227, 227);
    /* font-family: 'poppons' sans-serif; */
}
.nav{
    font-size: 3em;
}

center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}
/* .................................. */
* {
    margin: 0;
    padding: 0;
    */ box-sizing: border-box;
}

body {
    background-color: rgb(233, 227, 227);
    /* font-family: 'poppons' sans-serif; */
}
.nav{
    font-size: 3em;
}

center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: left;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}
/* .................................. */

.heading {
    width: 100%;
    height: 14vh;
    margin-top: 3%;
    display: flex;
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
    /* margin-right: 15%;  */
    padding-right: 88%;  
}

.teacher {
    font-size: 8.5vh;
    width: 600px;
    background-color: rgb(255, 255, 255);
    /* margin-right: 25%; */
    /* margin-left: 75%; */
    /* margin-bottom: 10%; */
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
}

.teacher:hover {
    background-color: rgb(250, 208, 153);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
}

.cetegories {
    width: 300px;
    margin: 20px auto;
    text-decoration: underline;

}
.cetegories:hover{
    /* background-color: #fff; */
}

.cetegories .falak {
    display: flex;
    flex-wrap: wrap;
    height: 45px;
    background-color: white;
    font-size: 18px;
    font-weight: 300;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(7, 7, 7, 0.855) 0px 0px 5px;
    padding: 10px;
    border-radius: 8px;
    /* padding-top: 10%; */
    /* margin-top: 10%; */
}
.falak {
    font-size: 35px;
}

.cetegories .falak:hover {
    background-color: rgb(235, 167, 80);
}

 .like {
    width: 200px;
    height: 100px;
    background-color: rgb(248, 245, 245);
    margin: 5vh auto; 
    color: black solid;
    cursor: pointer;
    padding: 40px;
     padding-top: 15px; 
    text-align: center;
     margin-top: 05vh;
 } 
.like:hover{
    background-color: rgb(83, 82, 82);
    color: rgb(10, 10, 10);
}
.bracelets{ 
    width: 100px;
    /* display: inline;
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* height: 85px; */
    /* margin-bottom: 20%;
    background-color: rgb(155, 9, 9); */
}
.bracelet{
    width: 100%;
    height: 70vh;
    background-color: rgb(250, 247, 247);
    /* margin-left: 2.5%;
    margin-right: 10%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
} 
.bracelet:hover{
     cursor: pointer; 
}

 .web{
    width: 23%;
     height: 65vh; 
     margin-top: 1%;
    background-color: aqua;
    border: 2px solid rgb(250, 249, 249);
    box-shadow: rgba(2, 2, 2, 0.855) 0px 0px 5px;
}
.baba{
    width: 100%;
    height: 15vh;
    background-color: #fcf8f8;
    color: rgb(8, 10, 12);
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    padding-bottom: 03%;

}
.mama{
    width: 20%;
    height: 10vh;
    background-color: rgb(233, 227, 227);
    border-radius: 14px;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}
.mama:hover{
    cursor: pointer;
    background-color: rgb(250, 208, 153);
    font-style: under;
}
.tution{
    font-size: 4em;
    width: 100%;
    height: 14vh;
    background-color: white;
    box-shadow:  0 0 5px rgba(7, 7, 7, 0.856);
    /* margin-left: 05%; */
    /* border: 2px black solid; */
}
 .brands{
    width: 70%;
    height: 69.5vh;
    background-color: rgb(233, 227, 227);
    margin-top: 1%;
    /* border: 1px black solid; */
   padding-left: 2%;
   font-style: normal;
    /* justify-content: center;
    align-items: center; */
}
.tution:hover{
    background-color: rgb(250, 208, 153);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
    cursor: pointer;
}
.brands:hover{
    background-color: rgb(235, 167, 80);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.856);
    cursor: pointer;
}
/* 
......... */
.footer{
    background-color: rgb(206, 194, 194);
    width: 100%;
    margin: 1%;
    /* height: 75vh; */
     /* padding-bottom: 1%;  */
     /* margin-top: 3%; */
    /* display: flex;
    justify-content: center; */
}
.content{
    display: flex;
    justify-content: center;
  
}
input{
    height: 30px;
}
button{
    height: 30px;
    background-color: black;
    color: white;
}
small{
    color:rgb(102, 93, 93);
    font-size: 90%;
}
.icons{
    background-color:rgb(206, 194, 194);
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.icon0{
    width: 20%;
    height: 56;
    margin-top: 09px;
}
.icon2{
    width: 20%;
    height:  56;
    margin-top: 09px;
}
.icon3{
    width: 20%;
    height:  56;
    margin-top: 09px;
}

/* .headings{
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
 padding-bottom: 10%;
margin-right: 10%;  
}
.head
{ 
    width: 40%;
    height:  56;
    margin-top: 5%;
    padding-bottom: 5%;
}
.head2{
    width: 5%;
    height: 56;
    margin-top: 5%; 
    padding-left: 7%;
    /* padding-bottom: 50%; 
} */
.foot{
    background-color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content:center;
    gap: 5%;
    padding-top: 01px ;
    text-decoration: overline; 
}
a{
    text-decoration: none;
}
.us{
margin-top: 4%;
font-size: x-large;
text-decoration: overline;
}
.inputdet{
    display: flex;
    justify-content: center;
    gap: 5%;
}
textarea{
    margin-top: 5%;
}
.pp{
    margin-top: 6%;
    font-size: x-large;
    text-decoration:overline;
}
.rr{
    margin-bottom: 5%;
     margin-top: 4%;
    font-size: x-large;
    text-decoration: overline;
}
.bell{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10px;
    border-radius: 50%;
    margin-left: 3%;
}
.fix{
    padding: 10px;
    border-radius: 50%;
}
.footer{
 padding-bottom: 10%;
}
/* ...................................................... */
/* center .logo {
    width: 100vh;
    height: 100px;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.menu-bar ul {
    display: flex;
    top: 0;
    list-style: none;
    justify-content: start;
    background: black;
    text-align: right;
    letter-spacing: 1px;
}

.menu-bar ul li {
    display: flex;
    width: 15vh;
    margin: 1px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li a:hover {
    color: goldenrod;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 15px;
    background: transparent;
    border-radius: 0;
    text-align: right;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(248, 248, 248);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

form.search input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(187, 187, 187);
    float: right;
    /* width: vh; */
    /* background: white;
    margin-right: -180vh;
}


form.search button {
    float: right;
    width: 10vh;
    padding: 5px;
    color: white;
    background: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-right: -147vh;
}

form.search button:hover {
    background: gray;
}


form.search::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu ul {
    padding: 20px;
    display: block;
    color: #000;
    cursor: pointer;
    text-align: center;
}

.menu ul li {
    padding: 20px;
    display: inline-flex;
    color: black;
    text-align: center;
    font-style: oblique;
    font-size: 25px;
}

.menu ul li a {
    color: black;
}

.menu ul li a:hover {
    color: #4b4a4a;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 60px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-row-start: auto;
    grid-row-end: auto;
    text-align: center;
    font-size: medium;
}

.item img {
    width: 80%;
    height: 200px;
    padding: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
    border-width: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.item img:hover {
    transform: scale(1.04);
    color: #616161;
}

P {
    text-align: center;
    text-transform: capitalize;
    text-shadow: 10px 10px 5px rgb(37, 37, 37);
    color: rgb(41, 39, 39);
    font-weight: bold;
}

p a {
    color: black;
}

p a:hover {
    color: rgb(58, 57, 57);
    text-emphasis: bold;
    cursor: pointer;
}

em {
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-size: 30px;
}

i {
    text-size-adjust: auto;
    display: inline;
    font-style: italic;
    text-align: center;
    padding: 30px;
    width: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

center {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 40px;
}

.para {
    padding: 30px;
    text-align: left;
    justify-content: left;
}

.para ul {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.para ul li {
    text-decoration: none;
} */



